{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Send Message{% endblock %}

{% block content %}
  <h2>Send a Message</h2>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    {% comment %} 
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="text-danger">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %} 
    {% endcomment %}
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
{% endblock %}
